{% extends 'base.html' %}
<!-- Page title -->
{% block title %}
<title>How To MindAi</title>
{% endblock title %}
<!-- Page Content -->
{% block content %}
<iframe
  src="https://app.tango.us/app/embed/776248f7-c6f7-4d90-b192-269a6cae0858"
  sandbox="allow-scripts allow-top-navigation-by-user-activation allow-popups allow-same-origin"
  security="restricted"
  title="Chatting with Our MindAi"
  width="100%"
  height="100%"
  referrerpolicy="strict-origin-when-cross-origin"
  frameborder="0"
  webkitallowfullscreen="webkitallowfullscreen"
  mozallowfullscreen="mozallowfullscreen"
  allowfullscreen="allowfullscreen"
></iframe>
{% endblock content %}
