{% extends 'base.html' %}
<!-- Page title -->
{% block title %}
<title>How To Dashbord</title>
{% endblock title %}
<!-- Page Content -->
{% block content %}
<main class="h-full overflow-y-auto text-gray-700 dark:text-gray-200">
  <iframe
    src="https://app.tango.us/app/embed/2562cb25-fd9e-4452-9e2d-37803523e3e1"
    sandbox="allow-scripts allow-top-navigation-by-user-activation allow-popups allow-same-origin"
    security="restricted"
    title="Navigating the Dashboard: How to Access Account Features, Login, Articles, Charts, and More"
    width="100%"
    height="100%"
    referrerpolicy="strict-origin-when-cross-origin"
    frameborder="0"
    webkitallowfullscreen="webkitallowfullscreen"
    mozallowfullscreen="mozallowfullscreen"
    allowfullscreen="allowfullscreen"
  ></iframe>
</main>
{% endblock content%}
